.order-summary-text{
    display: flex;
    justify-content: center;
    align-items: center;
}
.next-button-checkout{
    padding: 15px;
    width: 160px;
    height: 60px;
    border-radius: 10px;
    background-color: #e23745;
    position: relative;
    overflow: hidden;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
}